<!DOCTYPE html>
<html>
  <head>
    <title>Cards</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h1>Cards de Tradução</h1>
        <%= image_tag('joel.jpg', alt: 'Foto do Joel Santana') %>
      <% end %>
    </header>
    <%= yield %>
    <aside>
      <h1>Outros Tradutores</h1>
      <a href="http://translate.google.com">Google Translate</a>
      <a href="http://www.bing.com/translator/?cc=br">Bing Translator</a>
    </aside>
    <footer>
      <p>Desenvolvido no Campus Code em 2016</p>
    </footer>
  </body>
</html>
